<%= form_for(@recom) do |f| %>
  <% if @recom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recom.errors.count, "error") %> prohibited this recom from being saved:</h2>

      <ul>
      <% @recom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
        <%= f.label :recomendacion_id %><br>
         <%= f.select( "recomendacion_id",Recomendacion.all.collect{|l| [ l.tipo, l.id ] }, {include_blank: 'Seleccione Recomendacion'}) %>
      </div>
      <div class="field">
        <%= f.label :catereco_id %><br>
         <%= f.select( "catereco_id",Catereco.all.collect{|l| [ l.tipo, l.id ] }, {include_blank: 'Seleccione Categoria'}) %>
      </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
